<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="fullname">Tên: A -> Z</option>
        <option value="fullname desc">Tên: Z -> A</option>
        <option value="positionid">Vị trí: A -> Z</option>
        <option value="positionid desc">Vị trí: Z -> A</option>
        <option value="levelid">Chức danh: Thấp -> Cap</option>
        <option value="levelid desc">Chức danh: Cao -> Thấp</option>
    </select>
</section>